body {
  background-color: #000; 
  color: #fff; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}


h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #FFD700; 
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
}


label {
  display: block;
  margin: 0.5em 0;
}


input {
  margin-left: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}


button {
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: #000; 
  background-color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd; 
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

form {
  display: inline-block;
  text-align: left;
}
